{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
    <h1>Register</h1>
    <div class="container">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            {{ form.first_name.label }}<br>
            {{ form.first_name(class="form-control", placeholder="First Name") }}<br>

            {{ form.last_name.label }}<br>
            {{ form.last_name(class="form-control", placeholder="Last Name") }}<br>

            {{ form.email.label }}<br>
            {{ form.email(class="form-control", placeholder="E-mail") }}<br>

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", placeholder="Password") }}<br>

            {{ form.password2.label }}<br>
            {{ form.password2(class="form-control", placeholder="Confirm your password") }}<br>

            {{ form.submit(class="form-control") }}
        </form>
    </div>
{% endblock %}